<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE 
mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.biz.iolist.mapper.ProductDao">

	<select id="selectAll" resultType="productVO"> 
		SELECT * FROM tbl_product ORDER BY p_code
	</select>
	
	<select id="findByPCode" resultType="productVO">
		select * from tbl_product where p_code = RPAD(#{p_code},13,' ') 
		<!-- 대부분 13개 코드인데, 8개는 빈칸으로 채워라 -->
	</select>
	<select id="findByPName" resultType="productVO">
		<!-- 
		oracle db : select * from tbl_product where p_name like '%파인%'
		mybatis는 이게안됨. 
		-->
		
		<!-- mybatis oracle 방식의 like 문법 -->
		select * from tbl_product where p_name like '%' || #{p_name} || '%'
		
		
		<!-- 
			MYSQL: WHERE p_name like '%' + #{p_name} + '%'
		 -->
	</select>
	<!-- 
	private String p_code;
	private String p_name;
	private String p_tax;
	private int p_iprice;
	private int p_oprice;
	 -->
	<insert id="insert" parameterType="productVO">
		insert into tbl_product(p_code,p_name,p_tax,p_iprice,p_oprice)
		values(#{p_code},#{p_name},#{p_tax},#{p_iprice},#{p_oprice})
	</insert>
	<delete id="delete">
		delete from tbl_product where p_code = RPAD(#{p_code},13,' ') 
	</delete>
	<update id="update" parameterType="productVO">
		update tbl_product
		set 
		p_code = #{p_code},
		p_name = #{p_name},
		p_tax = #{p_tax},
		p_iprice = #{p_iprice},
		p_oprice = #{p_oprice},
		where p_code = RPAD(#{p_code},13,' ') 
	</update>
	
	
</mapper>